
body{
    text-align: center;
    background-image: url("./background.jpg")
}

#introduction{
    color: red;
}

.questionForm{
   margin: 5em;
}

.answerForm{
    margin: 3em;
}

.btn{
    margin: 1em;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
    width:50%; 
}

.redCol{
    color: red;
}

.greenCol{
    color: green;
}